.hero-wrap {
  position: relative;
  overflow: hidden;
  @include flex-center;
  height: 100vh;
  width: 100vw;
  background: var(--bg);
  background-image: url("/imgs/sobre.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.hero-inner {
  margin: 0 auto;
  padding: 0 20px;
  @include flex-center-align;
  gap: 48px;
  position: relative;
  z-index: 3;
}
.hero-content {
  flex: 1;
  position: relative;
  z-index: 4;
}
.hero-title {
  font-weight: 400;
  font-size: 7.5rem;
  line-height: 8.75rem;
  span:nth-child(1) {
    margin-left: 6rem;
    animation:
      typing 2s steps(18) forwards,
      cursor-white 0.5s step-end 4;
  }
  span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border-right: 4px solid transparent;
    animation-fill-mode: forwards;
  }
  span:nth-child(3) {
    visibility: hidden;
    animation:
      typing 1.5s steps(13) 2s forwards,
      cursor-white 0.5s step-end 2.2 2s,
      show-second 0.01s forwards 2s;
    margin-top: -2rem;
  }
}

@media (max-width: 1580px) {
  .hero-title {
    font-size: 7rem;
  }
}

@media (max-width: 900px) {
  span:nth-child(1) {
    margin-left: 2rem;
    animation:
      typing 1s steps(12) forwards,
      cursor-white 0.35s step-end 4;
  }

  span {
    border-right: 3px solid transparent;
  }

  span:nth-child(3) {
    visibility: hidden;
    margin-top: -1rem;
    animation:
      typing 0.8s steps(9) 0.9s forwards,
      cursor-white 0.35s step-end 4 0.9s,
      show-second 0.01s forwards 0.9s;
  }
}

@media (max-width: 900px) and (min-width: 680px) {
  .hero-title {
    font-size: 3rem;
    span:nth-child(1) {
      margin-left: 3rem;
      margin-bottom: -4rem;
    }
    span:nth-child(3) {
      margin-top: -4rem;
    }
  }
  .hero-wrap {
    background-image: none;
  }
}

@media (max-width: 680px) {
  .hero-wrap {
    min-width: 100vw;
    max-height: 100vh;
    background-image: url("/imgs/sobre-mobile.png");
  }

  .hero-title {
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    span:nth-child(1) {
      margin-left: 1.5rem;
    }
  }
}
