.water-animation-section {
    $width-here: 100vw;
    $height-here: calc(#{$width-here} * 0.5625);
    height: 100vh;
    background: #09090d;
    position: relative;
    width: $width-here;
    overflow: hidden;
    min-height: $height-here;

    .water-canvas-container {
        position: sticky;
        top: 50%;

        @include flex-center;
        width: $width-here;
        height: $height-here;

        aspect-ratio: 16 / 9;
        background: #000;
        border-radius: 0.5rem;
        box-shadow: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.5);
        &-animation {
            width: 100%;
            height: auto;
            opacity: 1;
            transition: opacity 0.5s ease;
        }
        .animation-opacity {
            opacity: 0 !important;
        }
    }
}

.water-loading {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
}

@media (max-width: 64rem) {
    .water-animation-section {
        display: none;
    }
}
